.container-sobre {
    width: 100%;
    height: auto;
}

.first-section-sobre {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85vh;
}

.left-container-sobre, .right-container-sobre {
    width: 45%;
    height: 100%;
}

.left-container-sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 40%;
}

.left-container-sobre h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 1rem;
    text-align: left;
}

.left-container-sobre p {
    font-size: 1.2rem;
    color: #333;
    text-align: left;
}

.left-container-sobre button {
    margin-top: 1rem;
    padding: 1rem 1rem;
    font-size: 1.3rem;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 50%;
    transition: all 0.25s;
}

.left-container-sobre button:hover {
    cursor: pointer;
    opacity: 70%;
}

.right-container-sobre {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.right-container-sobre img {
    height: 85%;
    transition: all 0.5s;
}

.right-container-sobre img:hover {
    transform: scale(1.05);
}

.second-section-sobre {
    padding: 2rem;
    background-color: #f5f5f5;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .second-section-sobre h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #131925;
  }
  
  .plans-container {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
  }
  
  .plan ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 1.5rem;
    width: 100%;
  }
  
  .plan li {
    margin-bottom: 0.5rem;
    width: 100%;
    text-align: left;
  }
  .cadastrar {
    border: 1px solid #000;
    background-color: #fff;;
    transition: all 0.25s;
  }
  .individual .cadastrar {
    background-color: #4a67f7;
    color: white;
  }
  
  .contact {
    background-color: #f0f0f0;
    color: #333;
  }
  
  .individual {
    border-top: 4px solid #4a67f7;
  }

  .individual .cadastrar {
    border: none;
  }
  
  .professional {
    border-top: 4px solid #fff;
  }
  
  .corporate {
    border-top: 4px solid #fff;
  }
  
  .mockup{
    height: 40%;
    margin-top: 20px;
  }

  .users-information {
    font-size: 10pt;
    color: darkgray;
    margin-top: 10px;
  }

  .videos-information {
    padding: 5px 10px;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 15px;
  }
  
  .cadastrar:hover {
    cursor: pointer;
    opacity: 70%;
  }
  
